n8n-workflows/daily-price-monitor.json
{
  "name": "🦀 每日价格监测",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1,
              "triggerAtHour": 9,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "每天9点触发",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [250, 300],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api:8002/api/monitoring/price",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "http-price-monitor",
      "name": "调用价格监测API",
      "type": "n8n-nodes-base.httpRequest",
      "position": [470, 300],
      "typeVersion": 4.1,
      "credentials": {
        "httpHeaderAuth": {
          "name": "Crab API Key",
          "id": "1"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.data.alerts }}",
              "operation": "largerEqual",
              "value2": 1
            }
          ]
        }
      },
      "id": "if-has-alerts",
      "name": "是否有告警?",
      "type": "n8n-nodes-base.if",
      "position": [690, 300],
      "typeVersion": 1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.WECOM_WEBHOOK_URL }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"msgtype\": \"markdown\",\n  \"markdown\": {\n    \"content\": \"## 🦀 小蟹研究员 - 价格变动预警\\n\\n> 检测时间: {{ $now.format('YYYY-MM-DD HH:mm') }}\\n\\n{{ $json.message }}\\n\\n[查看详情](http://localhost:3000/dashboard)\"\n  }\n}"
      },
      "id": "wecom-notify",
      "name": "发送企业微信通知",
      "type": "n8n-nodes-base.httpRequest",
      "position": [920, 200],
      "typeVersion": 4.1
    },
    {
      "parameters": {},
      "id": "no-action",
      "name": "无变化-记录日志",
      "type": "n8n-nodes-base.noOp",
      "position": [920, 400],
      "typeVersion": 1
    }
  ],
  "connections": {
    "每天9点触发": {
      "main": [
        [{ "node": "调用价格监测API", "type": "main", "index": 0 }]
      ]
    },
    "调用价格监测API": {
      "main": [
        [{ "node": "是否有告警?", "type": "main", "index": 0 }]
      ]
    },
    "是否有告警?": {
      "main": [
        [{ "node": "发送企业微信通知", "type": "main", "index": 0 }],
        [{ "node": "无变化-记录日志", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [{ "name": "小蟹研究员" }, { "name": "价格监测" }]
}
