n8n-workflows/feishu-command-handler.json
{
  "name": "🦀 飞书指令接收",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "feishu-command",
        "responseMode": "responseNode"
      },
      "id": "webhook-feishu",
      "name": "飞书Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [250, 300],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "jsCode": "// 解析飞书消息，提取用户指令\nconst body = $input.first().json.body;\nconst text = body?.event?.message?.content || '';\n\nlet parsed = '';\ntry {\n  parsed = JSON.parse(text).text || text;\n} catch(e) {\n  parsed = text;\n}\n\n// 简单指令解析\nlet command = 'unknown';\nlet params = {};\n\nif (parsed.includes('周报') || parsed.includes('weekly')) {\n  command = 'generate_report';\n  params = { report_type: 'weekly' };\n} else if (parsed.includes('日报') || parsed.includes('daily')) {\n  command = 'generate_report';\n  params = { report_type: 'daily' };\n} else if (parsed.includes('监测') || parsed.includes('status')) {\n  command = 'check_status';\n} else if (parsed.includes('预算') || parsed.includes('budget')) {\n  command = 'check_budget';\n}\n\nreturn [{ json: { command, params, raw_text: parsed } }];"
      },
      "id": "parse-command",
      "name": "解析指令",
      "type": "n8n-nodes-base.code",
      "position": [470, 300],
      "typeVersion": 2
    },
    {
      "parameters": {
        "rules": {
          "rules": [
            { "outputKey": "generate_report", "conditions": { "string": [{ "value1": "={{ $json.command }}", "value2": "generate_report" }] } },
            { "outputKey": "check_status", "conditions": { "string": [{ "value1": "={{ $json.command }}", "value2": "check_status" }] } },
            { "outputKey": "check_budget", "conditions": { "string": [{ "value1": "={{ $json.command }}", "value2": "check_budget" }] } }
          ],
          "fallbackOutput": "extra"
        }
      },
      "id": "switch-command",
      "name": "指令分发",
      "type": "n8n-nodes-base.switch",
      "position": [690, 300],
      "typeVersion": 3
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api:8002/api/reports/generate",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.params) }}"
      },
      "id": "call-report-api",
      "name": "生成报告",
      "type": "n8n-nodes-base.httpRequest",
      "position": [920, 180],
      "typeVersion": 4.1,
      "credentials": { "httpHeaderAuth": { "name": "Crab API Key", "id": "1" } }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://api:8002/api/system/stats",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "id": "call-stats-api",
      "name": "查询状态",
      "type": "n8n-nodes-base.httpRequest",
      "position": [920, 300],
      "typeVersion": 4.1,
      "credentials": { "httpHeaderAuth": { "name": "Crab API Key", "id": "1" } }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://api:8002/api/system/budget",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "id": "call-budget-api",
      "name": "查询预算",
      "type": "n8n-nodes-base.httpRequest",
      "position": [920, 420],
      "typeVersion": 4.1,
      "credentials": { "httpHeaderAuth": { "name": "Crab API Key", "id": "1" } }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ text: '收到! 正在处理你的请求...' }) }}"
      },
      "id": "respond-webhook",
      "name": "回复飞书",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [1150, 300],
      "typeVersion": 1
    }
  ],
  "connections": {
    "飞书Webhook": {
      "main": [[{ "node": "解析指令", "type": "main", "index": 0 }]]
    },
    "解析指令": {
      "main": [[{ "node": "指令分发", "type": "main", "index": 0 }]]
    },
    "指令分发": {
      "main": [
        [{ "node": "生成报告", "type": "main", "index": 0 }],
        [{ "node": "查询状态", "type": "main", "index": 0 }],
        [{ "node": "查询预算", "type": "main", "index": 0 }],
        [{ "node": "回复飞书", "type": "main", "index": 0 }]
      ]
    },
    "生成报告": { "main": [[{ "node": "回复飞书", "type": "main", "index": 0 }]] },
    "查询状态": { "main": [[{ "node": "回复飞书", "type": "main", "index": 0 }]] },
    "查询预算": { "main": [[{ "node": "回复飞书", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "小蟹研究员" }, { "name": "飞书" }]
}
