n8n-workflows/weekly-report.json
{
  "name": "🦀 每周报告自动生成",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 10 * * 1"
            }
          ]
        }
      },
      "id": "weekly-trigger",
      "name": "每周一10点触发",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [250, 300],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api:8002/api/reports/generate",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"report_type\": \"weekly\",\n  \"title\": \"自动周报\"\n}"
      },
      "id": "generate-weekly",
      "name": "生成周报",
      "type": "n8n-nodes-base.httpRequest",
      "position": [470, 300],
      "typeVersion": 4.1,
      "credentials": { "httpHeaderAuth": { "name": "Crab API Key", "id": "1" } }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.FEISHU_WEBHOOK_URL }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"msg_type\": \"interactive\",\n  \"card\": {\n    \"header\": {\n      \"title\": { \"tag\": \"plain_text\", \"content\": \"🦀 小蟹研究员 - 本周报告\" },\n      \"template\": \"blue\"\n    },\n    \"elements\": [\n      {\n        \"tag\": \"markdown\",\n        \"content\": \"{{ $json.content.substring(0, 500) }}...\\n\\n[查看完整报告](http://localhost:3000/reports/{{ $json.id }})\"\n      }\n    ]\n  }\n}"
      },
      "id": "feishu-report",
      "name": "飞书推送周报",
      "type": "n8n-nodes-base.httpRequest",
      "position": [690, 300],
      "typeVersion": 4.1
    }
  ],
  "connections": {
    "每周一10点触发": {
      "main": [[{ "node": "生成周报", "type": "main", "index": 0 }]]
    },
    "生成周报": {
      "main": [[{ "node": "飞书推送周报", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "小蟹研究员" }, { "name": "周报" }]
}
